.cwr-outline {
  border: 2px solid lightgrey;
  width: 200px;
  height: 314px;
  display: inline-block;
  margin-left: 10px;
}
.cwr-info {
  padding: 5px;
}
.cwr-img {
  /* border: 1px solid green; */
  width: 200px;
  height: 200px;
}
.cwr-label {
  font-size: 11px;
  color: grey;
}
.cwr-title {
}
.cwr-wrap {
  margin-top: 35px;
}
.cwr-highlight {
  color: red;
}
.cwr-crossout {
  text-decoration: line-through;
  color: grey;
  padding-left: 5px;
}
