.h-outline {
  border: 2px solid lightgrey;
  width: 500px;
  height: 200px;
  display: flex;
  margin-left: 10px;
}
.h-info {
  /* border: 1px solid pink; */
  width: 50%;
  height: 150px;
  margin: 30px auto;
  position: relative;
}
.img {
  /* border: 1px solid green; */
  display: inline-block;
  width: 200px;
  height: 200px;
}
.h-label {
  /* border: 1px solid green; */
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.h-title {
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 3; /* 말줄임 줄 개수 */
  -webkit-box-orient: vertical;
  line-height: 18px;
  margin-bottom: 20px;
}

.h-rating {
  /* border: 1px solid orange; */
  display: flex;
  margin-top: 10px;
}
.h-ratingtext {
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}
